* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: var(--CR);
    background: var(--bg);
    color: var(--white);
}

:root {
    --bg: #040D1F;
    --CR: 'CR', sans-serif;
    --CB: 'CB', sans-serif;
    --MR: 'MR', sans-serif;
    --MB: 'MB', sans-serif;
    --RR: 'RR', sans-serif;
    --RM: 'RM', sans-serif;
    --white: #fff;
    --black: #000;
    --orange: #F18128;
    --light: #ED8E00;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.title{
       display: flex;
       justify-content: flex-start;
       align-items: center; 
}
