.series {
    margin-bottom: 63px;
}

.series__post {
    margin-top: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    max-width: 1113px;
    height: 436px;
    z-index: 10;
    padding: 0 22px;
    border-radius: 6px;
    overflow: hidden;
}

.series__post:hover .post__imgBg {
    width: 1400px;
}

.post__imgBg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    border-radius: 6px;
    transition: 0.3s;
}

.post__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%);
    border-radius: 6px;
}

.post__h {
    font-family: var(--CB);
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
}

.post__p {
    font-family: var(--CR);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 27px 0 30px;
}

.post__btn {
    font-family: var(--RM);
    font-size: 14px;
    font-weight: 500;
    line-height: 12px;
    color: var(--white);
    border: 1px solid transparent;
    background: var(--black);
    border-radius: 4px;
    padding: 18px 45px;
    transition: 0.3s;
}

.post__btn:hover {
    background: var(--orange);
    color: var(--black);
}

.series__collection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    grid-auto-rows: 190px;
    margin-top: 30px;
}

.series__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    border-radius: 6px;
    gap: 20px;
}

.series__item-imgBg {
    position: absolute;
    z-index: -2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.series__itemBg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%);
    border-radius: 6px;
}

.series__icon {
    font-size: 40px;
}

.series__item-h {
    font-family: var(--CB);
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
    color: var(--white);
}

.series__item:nth-of-type(6n+1){
    grid-column: span 2;
    grid-row: span 2;
}